* {
    box-sizing: border-box;

}
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(0,0, 0,.87);
    line-height: 1.6;
  
 
    
    

}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 30px; 

}
.topbar nav {
    float: left;
    background-color: white;
    
}
.topbar nav a {
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500;
    margin: 0 53px;
}
.topbar nav a:hover {
    color: #000000;
}
 .social {
    float: right;
    
  
}
.social a {
    padding: 0 12px;
    opacity: .5;
}
.social a:hover {
    opacity: 1;
}
.banniere img  {
    height: 379px;
    background: no-repeat center center / cover url("C:\Users\33753\Documents\Formation\Projet_3\Les Films en Plein Air\img\logo\cinema-en-plein-air 1.jpg")  ;
}
.avatar span {
    color:gray;
    background-color:white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
.eternal span {
    color:gray;
    background-color:white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.imitation span {
    color:gray;
    background-color:white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}


.main ul,a {
    text-decoration: none;
    list-style: none;
    
}
.list ul,a {
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    color:blue;
}
.footer p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    background:blue;
    margin-left: 200px;
    margin-right: 200px;
  
}
.footer span {
    text-align: left;
    margin-left: 10px;
    font-family: sans-serif;
}
.footer span:last-child {
    float: right;
    margin-left: 10px;
    font-family: sans-serif;
    opacity: .4;
    margin-right: 20px;
}
.footer span:last-child:hover {
    opacity: 1;
}
footer a:hover {
    color:blue
}
.footer div:nth-last-child(){
    float: right;
}
.list a:hover {
    color: black;
    cursor: pointer;;
}
.list h4 {
    padding-left: 5px;
}


.main {
    float: left;
    width: calc(100%-375px) ;
}
.check {
    background-color: gray;
    border-radius: 4px;
    margin-left: 20px;
    

}
.form {
    background-color: gray;
    border-radius: 4px;
    margin-left: 20px;

}
.avatar  {
   
    width : 318 ;
    display: inline-block;
    background :lightslategray;
    color : #eceeef;
   
}
.sys button {
    background: gray;
    border-radius: 4px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.sys button {
    padding-bottom: 2px;
}
.main p:first-child {
    overflow: auto;
}
.main h2 {
    font-family: sans-serif;
    margin-left: 10px;

}
.main h4 {
    padding-left: 10px;
}
#firstname {
    margin-left: 50px;
    width: 445px;
    vertical-align: top;
    padding-left: 5px;
}
#lastname {
    margin-left: 28px;
    width: 445px;
    vertical-align: top;
    padding-left: 5px;
}
#phone {
    margin-left: 10px;
    width: 445px;
    vertical-align: top;
    padding-left: 5px;
}
#meet {
    margin-left: 5px;
    width: 445px;
    vertical-align: top;
    padding-left: 5px;
}

 #email {
    margin-left: 40px;
    width: 446px;
    vertical-align: top;
    padding-left: 5px;
}
#message {
    width: 453px;
    height: 149px;
    margin-top: 8px;
    margin-left: 10px;
    vertical-align: top;

    
}

.container {
    max-width: 940px;
    margin: 0 auto;
}
.sidebar div {
    display: inline;
    float: right;
    background: lightgray;
    width: 375px;
    height: auto;
}
.footer {
    clear: both;
    background-color:darkgray;
    margin-top: 200px;
    
}

.article p {  
    margin-top: 5px;
    padding-left: 10px;
}
.article-title{
   font-family: sans-serif;
   margin-bottom: 5px;
   padding-left: 10px;
   color:lightsalmon;

}
.article-entete {
  font-family: sans-serif;
  padding-left: 30px;
}
.prog h4 {
    padding-left: 20px;
    font-family: sans-serif;
    margin: 15px 0;
    
}
.contact h4 {
    padding-left: 30px;
    font-family: sans-serif;
    margin: 15px 0; 
}
.contact li{
    color: white;
}
.sidebar a {
    color:white;
    text-decoration: none;
   
}
.reserver a {
    color:white;
    text-decoration: none;
}
.reserver a:hover{
    color: black;
}
.reserver ul {
    text-decoration: none;
    list-style: none;
}
.sidebar a:hover {
   color: black;
}
.sidebar ul {
   
    list-style: none;
}
.prog hr {
    border-color: lightgray;
    opacity: .3;
}
.main hr {
    border-color: lightgray;
    opacity: .3;
}
.avatar img {
    float: right;
    width: 318px;
    height: auto;
    
}
.avatar p {
    padding: 5px;
    position:static;
    padding-top: 87px;
}
.eternal {
    width : 318 ;
    height : auto; 
    background :lightslategray;
    color : #eceeef;
    overflow: hidden;
}
.eternal p {
    padding: 5px;
    position:static;
    padding-top: 0;
}
.eternal img {
    float: right;
    width: 318px;
    height: auto;
}

.imitation {
    width : 318 ;
    height : auto; 
    background :lightslategray;
    color : #eceeef;
    overflow: hidden;
}
.imitation p {
    padding: 5px;
    position:static;
    padding-top: 0;
}
.imitation img {
    float: right;
    width: 318px;
    height: auto;
}
input[type=text],
input[type=email],
select,
input[type=tel] {
    overflow: hidden;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: sans-serif;
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=email]:focus {
    background-color: lightblue;
  }

input[type=tel]:focus {
  background-color: lightblue;
}
  textarea:focus {
    background-color: lightblue;
  }
  input[type=submit]:hover {
    background-color: lightblue;
  }
  select:focus {
    background-color: lightblue;
  }
  textarea {
        
    padding: 12px 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: sans-serif;
  }
  input[type=submit] {
    overflow: hidden;
    background-color: gray;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    cursor: pointer;
  }
  .form label {
     padding-top: 0;
     padding-bottom: 0;
     margin-left: 5px;
     color: #ccc;
  }
  .check label {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    color: #ccc;
  }
  .reserver  {
      float: right;
      background:lightgrey;
      display: grid;
      height: auto;
      padding-bottom:  50px;;
      
    
  }
  .prog {
      float:inherit;
  }

    
 .main button{
     color: white;
     background-color: gray;
     border: none;
     cursor: pointer;
 }
 .main button:hover {
     background-color: lightblue;
 }
 
 .sidebar {
     width: 375px;
     height: auto ;
     float: right;
     top: 0;
 }
 .list nav {
     
     font-family: sans-serif;
     background-color: lightgray;
     width: 20%;
     margin-left: 10px;
     border-radius: 4px;
     
 }

 .list a {
     color: white; 
 }
 .reser a{
     background-color:lightgray;
     display: grid;
     color: #000000;
     border-radius: 3px;
     margin-left: 40px;
     margin-right: 40px;
     padding-left: 5px;
     padding-right: 5px;
     text-align: center;

 }
 .reser a:hover{
     color: red;
 }
 .haut a {
     float: right;
     margin-top: 50px;
     color: lightgray;
     background-color: gray;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 4px;

 }
 .haut a:hover {
     color: blue;
 }
   
 #tout,#fiveaout,#sixaout,#sevenaout,
#eightaout,#fermer,#fenetre1,#fenetre2,
#fenetre3,#fenetre4,#fenetre5,#fenetre6,
#fenetre7,#fenetre8,#fenetre9,#fenetre10,
#fenetre11,#fenetre12 {
    display: none;
}/*on cache tous les input*/

.fiveaout img,.sixaout img,.sevenaout img,.eightaout img {
    object-fit:cover;
    max-width:100%
}
 .diaporama ul {
     padding:0;
     margin:0;
     list-style-type: none;
    }

	

    
/*on personnalise les label*/
input[name="diapo"] + label{
	
display: inline-block;
text-align: center;
font-size: 1.2rem;
width: 12rem;
border-bottom: 1px solid #2C3E50;
padding: 5px 20px
	
	}

input[name="diapo"]:checked + label{
	
color: white;
background: #2C3E50

	
	}
/*quand on clique sur un label pour montrer qu'il est actif */

/*liste des images*/
.diaporama{
	
display: flex;
flex-flow: row wrap;
justify-content: center;
margin: 10px auto;
overflow: hidden;
	
	}

.diaporama li{
	
margin: 1rem auto;
will-change: opacity;
opacity: 1;
}
/*on rend visible toutes les images pour pouvoir ensuite faire disparaitre certaines images avec le filtre en jouant sur l'opacite*/
/*transition: opacity .5s linear} /*transition opacite sur les images*/
	


.diaporama li img{
	
border: 5px solid #ccc;
		
}
	
/*filtre*/
#fiveaout:checked ~ .diaporama li:not(.fiveaout), 
#sixaout:checked ~ .diaporama li:not(.sixaout), 
#sevenaout:checked ~ .diaporama li:not(.sevenaout),
#eightaout:checked ~ .diaporama li:not(.eightaout){
	
opacity: .1;
}
/*ici on indique que les images non selectionnees (li:not) par le filtre ne seront presque plus visibles*/

#fiveaout:checked ~ .diaporama li:not(.fiveaout) label, 
#sevenaout:checked ~ .diaporama li:not(.sevenaout) label,
#sixaout:checked ~ .diaporama li:not(.sixaout) label,
#eightaout:checked ~ .diaporama li:not(.eightaout) label{
	
pointer-events: none
	
}/*ici on indique qu'on ne peut pas cliquer sur les images non selectionnees par le filtre-on peut mette aussi display:none ce qui fera disparaitre les photos non selectionnees*/

/*nombre de photos*/
input[name="diapo"]:checked + label:after{
	
	content: '(3)';
    margin-left: 5px;
		
	}
	
#tout:checked + label:after{
	
    content: '(12)';
    margin-left: 10px;
	
    }
    ::after {
        padding-left: 5px;
        margin-left: 5px;
    }

    
.sous-couche,
.fenetre{
		
position:fixed
		
	}
    
.fermer,
.fenetre img{
	
position: absolute
	
	}
    
.fenetre{
	
z-index: 2;
top: 0;
left: 0;
width: 100%;
height: 100%;
visibility: hidden;
opacity: 0
	
	}
    
.fermer{
	
width: 3.125rem;
height: 3.125rem;
right: 0;
top: 0;
z-index: 2
	
	}
    
.fenetre img{
	
max-height: 90%;
max-height: 80vmin;
max-width: 90%;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0
	
	}
    
#fenetre1:checked ~ .fenetre1,
#fenetre2:checked ~ .fenetre2,
#fenetre3:checked ~ .fenetre3,
#fenetre4:checked ~ .fenetre4,
#fenetre5:checked ~ .fenetre5,
#fenetre6:checked ~ .fenetre6,
#fenetre7:checked ~ .fenetre7,
#fenetre8:checked ~ .fenetre8,
#fenetre9:checked ~ .fenetre9,
#fenetre10:checked ~ .fenetre10,
#fenetre11:checked ~ .fenetre11,
#fenetre12:checked ~ .fenetre12{
visibility: visible;
opacity: 1;
transition: 1s opacity linear}
    
    
    
.sous-couche{

opacity: 0;
left: 0;
top: 0;
background: hsla(0, 0%, 0%, 0.8);
transition: 1s opacity linear;
z-index: 1

	}
    
.cache:checked~.sous-couche{
	
height: 100%;
width: 100%;
opacity: 1
	
    } 
.index h4 {
    padding-left: 300px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1rem;
    color:lightsalmon;

    
}
